body{
    clear: both;
    margin: 0;
    width: 100%;
}
/*清除浮动*/
.clear{
    content: "";
    clear: both;
    display: block;
}
/*头部固定*/
.top{
    position: fixed;
    z-index: 10;
    width: 100%;
}
/*背景色*/
.bgcolor{
    background-color: #f4f4f4 !important;
}
/*导航、菜单*/
.redbg{
    background-color: #f05453 !important;
}
/*#f34b4b 字体*/
.redtext{
    color: #f34b4b !important;
}
/*标题字体颜色*/
.titletext{
    color: #575757 !important;
}
/*字体颜色、菜单*/
.navtext{
    color: #888 !important;
}
/*提示性文字*/
.indicative{
    color: #b8b8b8 !important;
}
/*黑色字体颜色*/
.listtext{
    color: #000;
}
/*下划线、边框*/
.bordercolor{
    border: 1px solid #eee !important;
}
/*下边框*/
.borderbottom{
    border-bottom: 1px solid #ccc !important;
}
.linebottom{
    border-bottom: 1px solid #eee !important;
}
/*36号 提示性文字、头部导航、按钮文字*/
.maxtext{
    font-size: 1.125rem !important;
}
/*30号 菜单文字*/
.xtext{
    font-size: 0.9375rem !important;
}
/*24号 一般内容文字*/
.mtext{
    font-size: 0.75rem !important;
}
/*20号 极少数提示性文字、描述文字*/
.stext{
    font-size: 0.625rem !important;
}
/*按钮*/
.defaultbtn{
    display: block;
    width: 324px !important;
    height: 48px !important;
    border-radius: 7px !important;
    color: #fff !important;
    text-align: center;
    line-height: 48px;
}
/*默认按钮*/
.orangebtn{
    background-color: #fa6d41 !important;
}
/*提现、充值按钮*/
.greebbtn{
    background-color: #3dbf79 !important;
}
/*点击按钮*/
.clickbtn{
    background-color: #f95521 !important;
}
/*不可点击按钮*/
.noclickbtn{
    background-color: #b8b8b8 !important;;
}
/*确定按钮*/
.okbtn{
    display: block;
    width: 100px !important;
    height: 33px !important;
    color: #fff !important;
    font-size: 0.9375rem !important;
    background-color: #f05453 !important;
    border-radius: 15px !important;
    text-align: center;
    line-height: 33px;
}
/*取消按钮*/
.nobtn{
    text-align: center;
    display: block;
    width: 100px !important;
    height: 33px !important;
    color: #888 !important;
    font-size: 0.9375rem !important;
    border: 1px solid #b8b8b8 !important;
    border-radius: 15px !important;
    line-height: 33px;
}