body{
	font-family: 方正,兰亭,黑体;
	color: #575757;
	background-color:#fff;
}
.aui-content{margin:0px;padding:0;}
.aui-list-view,.aui-list-view-cell{padding:0;margin:0;}
.aui-list-view .aui-img-object{max-width:100%;height:auto;}
.clearfloat:after{display:block;clear:both;height:0px;content:"";visibility:hidden}
.clearfloat{zoom:1;}
.aui-list-view-cell:after{border-bottom-color:#e0e0e0;}
p{font-size:inherit;}