
/*写状态*/
textarea{
    margin-bottom: 2px;
}
.aui-edit-content{
    background-color: #ffffff;
}
.aui-edit-content .edit-field{
    border: 0px;
    margin-bottom: 2px;
    height: 37px;
    max-height: 150px;
}
#title_length{
    font-size: 12px;
    padding-right: 10px;
    float: right;
}
/*9宫格*/
.aui-grid-nine{
    clear: both;
}
.aui-grid-nine li {
    float: left;
    position: relative;
    padding: 10px 12px 0px 0px ;
    color: rgba(0,0,0,0.4);
}
.aui-grid-nine li img{
   border-radius: 10px;
}
.aui-grid-nine li i{
    position: absolute;
    top: -7px;
    right: 2px;
    transparent:0.7 ;
    z-index:9;

}
.aui-grid-nine:after {
    border: 0px ;
}
.aui-grid-nine li:after{
    border: 0px ;
}
.aui-edit-content .aui-grid-view{
    margin: 0 8px 0 15px;
}

.aui-edit-content .add-img{
    border: #888888 1px dashed;
    width: 100%;
    height: 100px;
    -webkit-border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.aui-edit-content .add-img .add-img-icon{
    font-size:60px;
    color:#b0b0b0 ;
}
.aui-edit-foot{
    border: dashed 1px  #888888;
    padding:8px 5px ;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    -webkit-border-radius: 5px;
    color: #888888;
}
header.aui-bar-danger,header .aui-btn-danger{
	background-color: #f44747;
}
body{
	background: #eeeeee;
	font-family: 方正,兰亭,黑体;
	color: #575757
}
p{
	color: #888888;
}
img{
	width: 100%;
	height: auto;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.whiteBg{
	background-color: #FFF;
	padding-left: 7px;
}
body.whiteBg{
	padding-left: 0px;
}
.aui-btn{
	border-radius: 7px;
}
.aui-mark{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.45);
	z-index: 11;
}
i.aui-input-addon.aui-iconfont.aui-icon-close{
	color: #dcdcdc !important;
	display: none;
}