/***rank***/
.rank-body #aui-header{
	-moz-transition:background-color 0.25s linear;
	-webkit-transition:background-color 0.25s linear;
	-o-transition:background-color 0.25s linear;
	transition:background-color 0.25s linear;
}

/***develop***/
.developcontent>p{padding-top:30px;}
.developcontent>div>img{width:200px;}
.developcontent>div{-webkit-transform:translate(0,0);transform:translate(0,0);padding-top:60px;}

/***sweep code***/
.sweepbody{padding-top:45px;}
.sweepbody .container{margin-top:0;padding: 10px;}
.sweepbody .part1{padding-bottom:0;}

/***history_profit**/
.history-bd{padding-top:45px;}
.history-bd .part1{margin-top:0;}

/**company_details**/
.swiper-container-horizontal>.swiper-pagination-progress{top:inherit;bottom:0 !important;}
.swiper-pagination-progress .swiper-pagination-progressbar{background-color:#f34b4b;}

/**profit_record**/
.profit-record-bd{padding-top:45px;}
.profit-record-bd .statistical{margin-top:0px;}

/**profit_Market**/
.profit-market-bd .aui-list-view-cell .aui-col-xs-5{background-color:#fafafa;width:37%;}
.profit-market-bd .aui-list-view-cell .aui-col-xs-7{width:63%;}
.profit-market-bd .aui-list-view-cell>div:first-child{border-right:1px solid #eee;}
.profit-market-bd .aui-list-view-cell>div>div{padding:19.5px 0;text-align:center;line-height:1.5;font-size:12px;color:#888;}
.profit-market-bd .aui-list-view-cell .buy-btn{line-height:3}
.profit-market-bd .aui-list-view-cell .buy-btn>button{font-size:12px;background-color:#fff;border-color:#eee;border-radius:0;}
.profit-market-bd .aui-list-view-cell{padding:0;margin:0;}
.profit-market-bd .aui-list-view:after,
.profit-market-bd .aui-list-view-cell:last-child:after{border-color:#eee;}
.profit-market-bd .aui-list-view-cell:after{border-bottom:1px solid #eee;}
.profit-market-bd .buy-money,.profit-market-bd .buy-amount{color:#f34b4b;font-size:15px;line-height:1.2;}

