/*查看评论页面*/
/*评论列表*/
#menu_header{
    position: fixed;
    z-index: 10;
    width: 100%;
}
#menu_con{
    width: 100%;
}
.aui-comment .aui-user-view-cell:first-child{
    margin-top: 10px;
}

.aui-comment .aui-user-view-cell .user-comment-img{
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    margin-right: 15px;
}

.aui-comment .aui-user-view-cell .p
{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
}
.aui-comment .aui-user-view-cell .aui-comment-info{
    line-height:18px;
}

/*评论输入框*/
.aui-comment-edit{
    width:100%;
    position: fixed;
    bottom: 0% ;
    background-color: #ffffff;
    border-top: solid 1px  #c8c7cc ;
    padding: 5px 10px;
}
.aui-comment-edit textarea {
    margin-bottom: 0px;
}
.aui-comment-edit .am-edit-field{
    width:70%;
    height: 35px;
    max-height: 85px;
    background-color:#f7f7f7;
    border: none;
}
.aui-comment-edit .am-edit-other{
    width:28%;
    height: 45px;
    position:fixed;
    bottom: 0%;
    right: 10px ;

}
.aui-comment-edit .aui-btn-other{
    padding: 0px 3px;
    color: #575757;
    background-color: #ffffff;
    border: none !important;

}
.aui-comment-edit .aui-btn-other .aui-icon-emoji{
    font-size: 25px;
    line-height: 25px;
    border: none !important;
}
