body{
    background-color: #f7f7f7;
}
.img-icon{
    height: 20px;
    width: 20px;
    margin-top: 12px;
}
/*图片显示栏*/
.aui-banner{
    height:18.75%;
    background-color: #ffffff;
}
.aui-banner .aui-banner-nav{
    width:11.11% ;
    float: left !important;
    height:100%;
    background-color: #2d2d2d;
    padding: 0 3px;
}
.aui-banner .aui-banner-navImg{
    width: 88.89% ;
    float: right !important;
    height: 100%;
}
#swiper1 .swiper-slide{
    width:66.6666% !important;
}
.aui-banner .aui-banner-navImg img{
    width: 100%;
    height:100%;
}
.aui-banner .aui-banner-nav .aui-banner-title{
    color: #ffffff;
    width: 15px;
    font-size: 15px;
    text-align: center;
}
.aui-banner .aui-banner-nav .aui-banner-nav1{
    height: 66.6667%;
    border-bottom:solid 1px #212121;
    text-align: center;
}
.aui-banner .aui-banner-nav .aui-banner-nav1 .title{
    width: 15px ;
    margin: 0px auto;
    padding-top: 25%;
    line-height: 15px;
}
.aui-banner .aui-banner-nav .aui-banner-more{
    height: 10%;
    padding-top: 25%;
    text-align: center;
}

/*横向列表栏*/
.aui-tab .aui-tab-nav li{
    color: #575757;
    cursor: pointer;
}
.aui-tab .aui-tab-nav li.active {
    color: #575757;
    border-bottom: 0px ;
}
.selected{
    line-height: 45px;
    padding:0px 12px 12px 12px;
    color: #f34b4b;
    border-bottom: 2px solid #f34b4b;
}

/*内容列表*/
.aui-find{
    margin-top: 10px;
    background-color: #ffffff;
}
.aui-find .aui-find-cell{
    width: 100%;
    height: 9%;
}
.aui-find .aui-find-cell .aui-find-user{
    width: 15%;
    float: left;
}
.aui-find .aui-find-cell .aui-find-user .bg{
    width: 36px;
    margin: 0px 16.6667%;
}
.aui-find .aui-find-cell .aui-find-user .user-img{
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    position: relative;
    left: 20%;
    top:-42px
}
.aui-find .aui-find-cell .aui-find-userInfo{
    width: 85%;
    float: right;
    padding: 5px 10px 5px 0px;
}
.aui-find .aui-find-cell .aui-find-userInfo .aui-find-userInfo-body span {
    color: #575757;
    margin-top: 2px;
    font-size: 15px;
    width: 100%;
}
.aui-find .aui-find-cell .aui-find-userInfo .aui-find-userInfo-body span a{
    color: #575757;
}
.aui-find .aui-find-cell .aui-find-userInfo .aui-find-userInfo-body span> em {
    font-weight: 400;
    font-size: 12px;
    color: #888888;
    float: right;
}
.aui-find .aui-find-cell .aui-find-userInfo .aui-find-userInfo-body p {
    margin-bottom: 0;
    font-size: 12px;
    color: #888888;
}

.aui-find .aui-find-grid{
    width: 83.3333%;
}
/*9宫格*/
.aui-grid-nine li {
    float: left;
    position: relative;
    padding: 0px 3px 0px 0px ;
}
.aui-grid-nine:after {
    border: 0px ;
}
.aui-grid-nine li:after{
    border: 0px ;
}

.aui-find .aui-find-userInfo .aui-find-content{
    margin-right: 7.5%;
    font-size: 15px;
}
.aui-find .aui-find-other{
    clear: both;
    margin-left:5%;
    margin-right: 3%;
}
.aui-find .aui-find-other .aui-find-other-like{
    display: -webkit-box;
    font-size: 12px;
    height:30px;
    line-height: 30px;
    margin-top: 34px;
}
.aui-find .aui-find-other .aui-find-other-like li{
    width: 25%;
}
.aui-find .aui-find-other .aui-find-other-like .img{
    width: 20px;
    position: relative;
    top: 3px;
}
.aui-find .aui-find-other .aui-find-other-like .other-img{
    width: 80px;
    height: 25px;
}

/*内容固定*/
.aui-find-sticky{
    width:40px;
    position: fixed;
    bottom: 3%;right:4%
}

header.aui-bar-danger,header .aui-btn-danger{
	background-color: #f44747;
}
body{
	background: #eeeeee;
	font-family: 方正,兰亭,黑体;
	color: #575757
}
p{
	color: #888888;
}
img{
	width: 100%;
	height: auto;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.whiteBg{
	background-color: #FFF;
	padding-left: 7px;
}
body.whiteBg{
	padding-left: 0px;
}
.aui-btn{
	border-radius: 7px;
}
.aui-mark{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.45);
	z-index: 11;
}
i.aui-input-addon.aui-iconfont.aui-icon-close{
	color: #dcdcdc !important;
	display: none;
}

