body{background-color:#f3f3f3;line-height:inherit;}
#aui-header{color:#fff;background-color:#f34b4b;position:fixed;}
.user-log>img{width:44%;vertical-align:middle;}
.part1{text-align:center;padding:5.2% 0;margin-top:45px;background:#fff url(../image/equity/company1.png) no-repeat 45%; background-size:cover;}
.part1>span,.part1>img{vertical-align:middle;}
.part1>img{width:6.5%;}
.part1>span{font-size:15px;color:#575757;}
.part2{background-color:#fff;margin-top:2.8%;padding:4.3% 0;}
.part2>.sign{border: 4px solid #f34b4b;}
.part2>.text{font-size:15px;margin-left:0.8%;}
.part2>.text>.num{color:#f34b4b;}
.average{font-size:12px;}
.money{color:#f34b4b;font-size:15px;margin-right:2%;}
.money>span{font-size:12px;}
.aui-list-view-cell{display:table;padding:2.5% 4% 2.5% 0;width: 100%;}
.aui-list-view-cell>div{display:table-cell;vertical-align: middle;float:none;}
.aui-list-view-cell>.left{left:-2%;}
.aui-list-view-cell:after{height:0px;}
.aui-list-view:after{border:none;}