
/*背景图片*/
.bgdiv{
    background: url("../image/mine/bluebg.png");
    height: 13%;
}
.bgdiv li {
    height: auto;
    line-height: 30px;
}
/*本店分红*/
.fendiv{
    height: 7%;
    line-height: 25px;
    width: auto;
}
/*第二块---价格*/
.price{
    /*height: 16.7%;*/
    background-color: #fff;
    margin: 3% 0 !important;
    padding: 0 3% !important;
}
/*当前价格*/
.pricediv{
    color: #888;
    font-size: 12px;
    height: 12%;
    border-bottom: 1px solid #c8c7cc;
}
.pricediv li{
    height: auto;
    line-height: 30px;
    border-bottom: none;
}
.aui-tab-nav li {

}
/*市场价格*/
.market{
    height: 6.4%;
    color: #888;
    font-size: 12px;
    line-height: 30px;
}
.organize{
    color: #888;
    font-size: 12px;
    height: 7.8%;
    background-color: #fff;
    /*margin-bottom: 3%;*/
    padding: 0 3%;
    line-height: 40px;
}
/*按钮部分*/
.buydiv{
    margin-left: 1%;
}
.buydivp{
    width: auto;
    height: 8.5%;
    color: #888;
    font-size: 12px;
    line-height: 40px;
    clear: both;
    text-align: center;
}
.buydiv li{
    height: 16.4%;
    display: inline-block;
    padding: 1.5% 5%;
}
/*
/!*遮罩层*!/
#sellMark{
    display: none;
}
.aui-mark{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 11;
}
/!*弹窗*!/
.aui-dialog{
    display: none;
    width: 92%;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
}
.aui-dialog-head{
    height: 7%;
    text-align: center;
    font-size: 18px;
    color: #575757;
}
.aui-dialog-body{
    height: 14.6%;
    padding: 0 !important;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #f34b4b;
}
.aui-dialog-body li{
    height: 33px;
    margin: 2% 0;
}
.aui-dialog-body input{
    width: 69%;
    height: 33px;
    background-color: #fb9897;
    border: none;
}
.aui-dialog-footer{
    height: 8.75%;
}
.btn{
    -webkit-border-radius: 9em;
    font-size: 15px;
    color: #575757;
    height: 5.5%;
    width: 29%;
    margin: 3% 9%;
}
/!*取消*!/
.cancel{
    background-color: #f7f7f7;
    border: solid 1px #e0e0e0;
}
.cancel:active{
    background-color: #f7f7f7;
    border: solid 1px #e0e0e0;
}
/!*确定*!/
.request{
    color: #fff;
    background-color: #f34b4b;
}
.request:active{
    background-color: #f34b4b;
}*/
/*遮罩层*/
#mark{
    display: none;
    background: rgba(0, 0, 0, 0.45)
}
/*弹窗*/
#selldialog{
    display: none;
}
.aui-dialog{
    position: fixed;
    z-index: 12;
    width: 83.334%;
    /*top: 20.78125%;*/
    height: 280px;
    border-radius: 5px;
}
.aui-dialog-header {
    padding: 0 0 10px;
}
.aui-dialog-header img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.aui-dialog-body{
    padding: 0;
}
.aui-dialog-body div{
    width: 42.34%;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 28px;
    padding: 0 5px;
    margin: 25px 0 28px;
}
input[type="number"]{
    width: 66%;
    padding: 0;
    margin-bottom: 0;
    border: none;
}
.aui-dialog-btn{
    padding: 0;
}
.aui-dialog-btn:after {
    border-left: none;
    border-top: none;
}
#sell{
    color: #f34b4b;
}