/*登录*/
#login{
	background-color: #fff;
	height: auto;
}
header.loginHeader.aui-bar{
	position: fixed;
	background-color: transparent;
}
#loginLogo{
	width: 57.63%;
	margin: 15.32% auto 0;
}
#loginFrom {
    width: 54.03%;
    margin: 0 auto;
}
#loginFrom i {
    color: #f75555;
    font-size: 23px;
    vertical-align: bottom;
}
#loginFrom .aui-input-row {
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 15px;
}
#loginFrom .aui-input-row:after {
    border-bottom: 2px solid #f75555;
    left: 18%;
}
#loginFrom .aui-input-row .aui-input {
    text-align: left;
}
#loginFrom .aui-input-row .aui-input{
	padding-left: 15px;
	padding-bottom: 7px;
}
#loginFrom .aui-input-row .aui-input, #registerPhone span {
    font-size: 18px;
}
#login .btnGroup{
	width: 49.17%;
	margin: 15.32% auto 0;
}
#login .btnGroup .aui-btn-block{
	width: 78.82%;
	margin: 0 auto 42.63%;
	padding: 6.5px 0;
}
/*#loginForm,*/#registerForm,#setPsdForm{
	margin-top: 5%;	
}
/*#loginForm .aui-form{
	border-bottom: 1px solid #c8c7cc;
	border-top: 1px solid #c8c7cc;
	padding:0 5%;
}
#loginForm .aui-input-row{
	padding: 4px 0;
	width: 100%;
}*/
.aui-input-row .aui-input{
	padding-left: 0px;
}
.aui-input-row:first-child:after{
	border-top: 0px solid;
}
.aui-input-row:last-child:after{
	border-bottom: 0px solid;
}
/*#loginForm span.aui-input-addon{
	width: 26.3%;
	text-align: left;
}*/
.btnGroup{
	margin: 0 5%;
}
.btnGroup .aui-btn-block{
	margin-bottom: 7.4%;
	padding: 10.5px 0;
}
.btnGroup .aui-btn-info{
	background-color: #2eb1fc;
	border: 1px solid #2eb1fc;
}
.btnGroup p{
	font-size: 12px;
}
/*注册*/
.varifyBtn.aui-btn-info.aui-btn-outlined{
	color: #4eabf8;
	border: 1px solid #4eabf8;
	font-size: 12px;
	padding: 2.2px 1px;
	margin-top: -32px;
}
#registerForm .aui-form,.inviteForm,#setPsdForm .aui-form{
	border-bottom: 1px solid #c8c7cc;
	border-top: 1px solid #c8c7cc;
	padding:0 10px;
}
#registerForm span.aui-input-addon,.invite span.aui-input-addon{
	width: 24.8%;
	text-align: left;
}
#registerForm .aui-input-row,.invite{
	padding: 3.5px 0;
	width: 100%;
}
.inviteForm{
	margin-bottom: 6.51%;
}
.btnGroup p.aui-text-danger{
	color: #f75555 !important;
	font-size: 10px;
}
.btnGroup p.aui-text-danger span{
	border-bottom: 1px solid #f75555;
	padding-bottom: 2px;
}
/*设置登录密码*/
#setPsdForm span.aui-input-addon{
	width: 24.8%;
	text-align: left;
}
#setPsdForm .aui-input-row{
	padding: 3.5px 0;
	width: 100%;
}
.bottomInfo{
	padding-left: 10.4%;
	margin-top: 7.95%;
}
.bottomInfo ul li{
	font-size: 9px;
	color: #f75555 !important;
}
/*找回登录密码*/
#findLoginPsd{
	margin-top: 5%;
	margin-bottom: 7.23%;
}
#findLoginPsd .aui-form{
	padding: 0 5%;
}
#findLoginPsd .aui-input-row{
	padding: 3.5px 0;
}
#findLoginPsd .aui-input-row span{
	padding: 5px 0;
}
#findLoginPsd .verify{
	padding-left: 11%;
}

/*店铺入驻提交信息页*/
.result{
	margin: 60.84% auto 61%;
	text-align: center;
	font-size: 22px;
}
.result div{
	line-height: 1;
}
.result .aui-iconfont{
	font-size: 32px;
	color: #47b9f4 !important;
}
.result p{
	font-size: 12px;
	margin-top: 6%;
	line-height: 1;
}
.resultBtnGroup.aui-btn-info{
	position: absolute;
	width: 90%;
	bottom: 4.88%;
	left: 5%;
	padding: 10.5px 0;
	background-color: #2eb1fc;
	border: 1px solid #2eb1fc;
}
/*输入验证码*/
#writeVerify{
	margin: 5% 0 0;
}
#writeVerify .aui-input-row{
	width: 100%;
	margin-bottom: 5%;

}
#writeVerify .aui-input-row input{
	padding-left: 5%;
}
#writeVerify .aui-input-row:after{
	border-bottom:0px solid;
}
#writeVerify .varifyBtn.aui-btn-info.aui-btn-outlined{
	margin-right: 5%;
	padding:2.2px 5px;
}