/*****sweep_code*****/
.developbody,.sweepbody{background-color:#f3f3f3;}
#aui-header{color:#fff;background-color:#f34b4b;position:fixed;}
#aui-header>.aui-pull-right{font-size:14px;}
.container{margin-top:45px;padding:2.6% 2.1%;}
.part1{
	border-radius:6px;
	background:#fff url("../image/sweep1.png") no-repeat top left;
	background-size:22%;
    text-align:center;
    box-shadow:0px 0px 12px rgba(0,0,0,0.06);
    padding-bottom:40%;
}
.part1>div:first-child{padding:8% 0 1.4% 0;}
.title1{font-size:20px;}
.sweep2>img{width:5%;}
.sweepimg>img{width:52.1%;padding:0;margin:0;}
.sweep3>img{width:2.1%;padding:0;margin:0;}
.sweep4>img{width:50%;padding:4% 0;}

/*****develop*****/
.developcontent{
	padding-top:45px;
	text-align:center;
}
.developcontent>div{padding-top:61%;-webkit-transform:translate(0,-28%);transform:translate(0,-28%)}
.developcontent>p{color:#000;padding-top:10%;}
.developcontent>div>img{width:70%;}

/*****term*****/
.termcontent{padding:0 1%;}
.blank{padding:2%;}
h3.aui-text-center{padding:1% 0 4%;}
.termcontent>p{font-size:14px;color:#000;}

/*****business college*****/
.college{text-align:center;padding-top:45px;}
.college>img{width:90%;margin-top:45%;-webkit-transform:translate(0,-30%);transform:translate(0,-30%);}