/*我的 页*/
body{
	background-color: #fff;
	height: auto;
}
/*标题栏*/
header.aui-bar{
	position: fixed;
	background-color: transparent;
}
.loginZone{
	background: url("../image/mine/mine_bg.png") #fff;
	padding: 60px 20px;
	background-size: 100% 100%;
	display: table;
	width: 100%;
	margin-bottom: 0px;
}
.loginZone img{
	border-radius: 50%;
	border: 7px solid #d43e3e;
	display: table-cell;
	vertical-align: middle;

}
.loginZone a{
	font-size: 14px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 77%;
	padding-left: 6%;
	color: #eee;
}
/*九宫格*/

.aui-grid-sixteen:after{
	border-top: 0px solid;
}
.aui-grid-sixteen .aui-col-xs-6{
	display: table;
}

.aui-grid-sixteen span,.aui-grid-sixteen p{
	font-size: 12px;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}
.aui-grid-sixteen span img{
	width: 50%;
}
.aui-grid-sixteen li p{
	text-align: left;
}
.balance{
	text-align: center;
}

/*注册输入手机号页*/
.mineLogo{
	width: 40.65%;
	margin: 18.9% auto 16.52%;
}
.registerHeader .aui-iconfont,.registerHeader a{
	color: #f75555;
}
#registerPhone{
	width: 80%;
	margin:0 auto;
}
.aui-input-row .aui-input,#registerPhone span{
	font-size: 18px;
	text-align: center;
}
.aui-input-row:after{
	border-bottom: 2px solid  #f75555;
}
.aui-input-row:first-child:after{
	border-top: 0px solid;
}
#registerPhone .aui-btn-info{
	color: #4eabf8;
	border:1px solid #4eabf8;
	font-size: 12px;
}
#registerPhone input[type="text"]{
	padding: 5px 15px;
}
#registerPhone .aui-text-danger{
	color: #f75555;
	padding:5px 22px;
}
#registerPhone .aui-text-danger:after{
	content: "";
	width: -5px;
	height: 40%;
	border-right: 1px solid #f75555;
	position: absolute;
	bottom: 14px;
	left: 60px;
	z-index: 10;
}
.varification{
	width: 100%;
}
.btnGroup{
	margin-top: 34.55%;
	text-align: center;
}
.btnGroup .aui-btn{
	padding: 4px 25px;
	font-size: 18px;
}
.bottomCenter{
	position: absolute;
	bottom: 5px;
	left: 19%;
}
.bottomCenter a{
	text-decoration: underline;
}

/*登录页*/
#loginLogo{
	margin: 18.9% auto 9.31%;
}
#loginFrom{
	width: 54.03%;
	margin: 0 auto;
}
#loginFrom i{
	padding-bottom: 0;
	color: #f75555;
	vertical-align: bottom;
}
#loginFrom .aui-input-row{
	overflow: hidden;
	padding-bottom: 0px;
	padding-top: 14px;
}
#loginFrom .aui-input-row .aui-input{
	text-align: left;
	padding-bottom: 3px;
}
#loginFrom .aui-input-row:after{
	left: 18%;
}
#loginFrom .btnGroup {
	margin-top: 54.4%;
}
#loginFrom .btnGroup .aui-btn{
	padding: 4px 20px;
}

/*注册登录选择页*/
#guidLogo{
	width: 41.95%;
	margin-top: 19.66%;
}
.guidPage{
	margin: 59.88% 19.45% 0;
}
.guidPage .aui-btn{
	padding: 4px 20px;
}
