body{background-color:#efefef;}
#aui-header{color:#fff;background-color:#f34b4b;position:fixed;}
.statistical{padding:0.5% 0px;margin-top:45px;background-color:#fff}
.statistical>div{padding:2% 0px;}
.statistical>.borderright{border-right:2px dotted #e0e0e0;}
.statistical .amount{color:#f34b4b;}
.year{padding:5% 0 2% 15px;color:#000;}
.aui-list-view-cell:after{border:none;}
.aui-list-view-cell{padding: 4.5% 0px 0px 15px}
.aui-list-view-cell>div{padding-bottom:1.5%;}
.aui-list-view-cell .aui-text-right{color:#f34b4b;border-bottom:1px solid #e0e0e0;padding-right:20px;}
.aui-list-view-cell .aui-text-right>span{font-size:12px;}
.last .aui-text-right{border-bottom:none;}
.aui-list-view:after{border:none;}