body{line-height:inherit;overflow-x:hidden;}
#aui-header{color:#fff;background-color:#f34b4b;position:fixed;}
.aui-list-view-cell{padding:0.2% 0 0.2% 4.5%;display:table;margin-right:-0.3%;}
.aui-list-view-cell>div{display:table-cell;vertical-align:middle;float:none;padding:0.6% 0;}
.user-log>img{width:44%;vertical-align:middle;}
.market-img{margin-top:45px;position:relative;padding:8.5% 0;}
.market-img>img{width:100%;position:absolute;top:0px;left:0px;z-index:-1;}
.market-img>p{color:#fff;text-align: center}
.market-img p.title{font-size:22px;font-weight:bold;display:inline;line-height:0.9;}
.market-img span.detail{font-size:16px;font-weight:normal;}
.market-nav{background-color:#fff;padding: 4.4% 2.5%;display:table;width:100%;}
.market-nav>div{display:table-cell;float:none;}
.market-nav img{width:50%;vertical-align: middle;}
.market-nav>div>p{text-align:center;display:inline-block;}
.market-nav>div>span{vertical-align: middle}
.user-img  img{width:70%;border-radius:50%;vertical-align: middle}
.aui-col-xs-8.detail{padding-right:4%;line-height:1.5;}
.bn-red{background-color:#f34b4b;color:#fff;margin-top:14%;}
.aui-btn{border-radius:8px;padding:4px 12px;}
.aui-list-view-cell:after{border:none;}
.aui-list-view>.border{border-bottom:1px solid #e0e0e0;width:83.33333333%;margin-left: 16.66666667%;;}
.buy>img{width:93%;}
p.name,p.record{color:#000;}
span.amount{color:#f34b4b;}