.profit-modal{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:9999;display:none;}
.modal-container{border-radius:6px;width:91.6%;margin:0 auto;background-color:#fff;position:absolute;top:40%;left:0;right:0;margin:auto;-webkit-transform: translate(0%, -35%);transform: translate(0%, -35%);}
.modal-title{padding:2.8% 2.6%;}
.modal-title .name{font-size:15px;}
.modal-title .detail{font-size:12px;color:#888;}
.modal-title .amount{font-size:18px;color:#f34b4b;}
.modal-title .size{font-size:12px;color:#f34b4b;}
.modal-body{background-color:#f34b4b;}
.modal-body .form-label{float:left;color:#fff;margin-left:5%;margin-top:2.5%;font-size:12px;}
.modal-body .form-text{background-color:#fa8d8d;float:left;width:76%;padding:1.8% 0;margin:2.8% 0;border-radius:0;border:none;}
.modal-body>div{}
.modal-footer{padding:2.5% 0;}
.btn-white,.btn-red{display:block;margin:0 auto;padding: 5% 22%;border-radius: 15px;width:64%;}
.btn-white{background-color:#f7f7f7;font-size:15px;color:#575757;border: 1px solid #e0e0e0;}
.btn-red{background-color:#f34b4b;color:#fff;border:none;}
.aui-btn.btn-white:active {color: #575757;background-color: #f7f7f7;}
.aui-btn.btn-red:active{color: #fff;background-color: #f34b4b;}

/****signin-modal*****/
.profit-modal.signin-modal{display:block;}
.signin-modal .modal-title{padding:0.7% 2.6%;position:relative;}
.signin-modal .aui-icon-roundclose{color:#ccc;font-size:28px;cursor:pointer;}
.signin-modal .detail {
	font: bold 14px  方正, 兰亭, 黑体;
	color: #fbcf30;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 25px;
}
.signin-modal .detail>span{font-size:20px;}
.closeborder>span{font-weight:bold;}
.signin-modal .modal-body>div{padding:9% 0 10% 0;}
.signin-modal .modal-body p{color:#fff;text-align:center;padding:1% 0;}
.signin-score,.total-signin-score{font-size:24px;font-weight:bold;}