
/*内容部分*/
#content{
    width: 100%;
    margin-top: 5.75%;
    clear: both;
}
.jianju{
    margin-bottom: 1.945%;
    height: 28.125%;
    background-color: #fff;
    clear: both;
}
.aui-list-view-cell {
    padding: 0 ;
    margin: 2.78% 5%;
    margin-bottom: 0;
}
.aui-list-view-cell:after {
    border-bottom: none;
}
.aui-list-view-cell:last-child:after {
    border-bottom: none;
}
/*小图片*/
.minimg{
    width: 17px;
    height: 17px;
}
/*店铺名称*/
.dianp{
    padding-left: 25px;
    padding-top: 0px;
    font-weight: bold;
    margin-top: -4px;
}
/*第一行下边框*/
.oneline{
    border-bottom: 1px solid #eee;
    padding: 10px 0
}
.twoline{
    padding: 10px 0;
    height: 145px;
}
/*大图片*/
.maximg{
    width: 74px;
    height: 86px;
}
.aui-counter-minus{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #eee
}
.aui-counter-plus{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #eee
}
input.aui-counter-input{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
/*按钮*/
.btndiv{
    width: 100px;
    height: 33px;
    display: inline-block;
    background-color: #fa6d41;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    line-height: 20px;
}