
body{
    font-family: 方正,兰亭,黑体;
}
.clear{
    content: "";
    clear: both;
}
/*内容*/
#content{
    width: 100%;
}
/*分红记录*/
.firstdiv{
    height: 160px;
    line-height: 49px;
    color: #fff;
    position: relative;
    top: 48px;
    /*padding-top: 40px;*/
}
/*分红记录按钮*/
.firstdiv li > div{
    background-color: #f77f7f;
    height: 26px;
    width: 77px;
    color: #fde3e3;
    border: 1px solid #f99494;
    border-radius: 12px;
    padding: 3px;
}
/*f34b4b字体*/
.redtext{
    color: #f34b4b;
}
/*分红率和分红周期*/
.seconddiv{
    height: 33px;
    background-color: #fffdf2;
    line-height: 32px;
    vertical-align: middle;
}
/*分红*/
.thirddiv{
    height: 80px;
    background-color: #fff;
}
.thirddiv ul li:first-child{
    border-right: 1px solid #f2f2f2;
}
.thirddiv li{
    line-height: 29px;
    padding: 10px 20px;
}
/*店铺*/
.fourthdiv{
    margin-top: 10px;
    background-color: #fff;
    height: 45px;
}
/*左边小长方形*/
.rectangle{
    width: 5px;
    height:35px;
    position: relative;
    top: 5px;
}
.fourthdiv div:last-child{
    padding: 10px 10px 10px 20px;
}
/*价格*/
.fifthdiv{
    height: 90px;
    background-color: #fff;
}
.fifthdiv ul{
    border-top: 1px solid #eee;
    padding: 10px 0;
    line-height: 31px;
}
/*查看企业*/
.sixthdiv{
    height: 50px;
    margin-top: 25px;
    background-color: #fff;
}
.sixthdiv div:last-child{
    padding: 12px 10px 12px 20px;
}
/*买入和卖出*/
.aui-nav ol li:first-child{
    border-right: 1px solid #eee;
}
.aui-nav li{
    padding: 10px;
    line-height: 27px;
}