<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>星宿排行</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/base_qh.css" />
    <link rel="stylesheet" type="text/css" href="../../css/start_rank.css" />
    <link rel="stylesheet" type="text/css" href="../../css/extend_qh.css" />

    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/sapi.js"></script>
    <script src="../../assets/js/api.js"></script>
</head>
<body>
    <header class="aui-bar aui-bar-nav" id="aui-header">
        <span class="aui-pull-left aui-iconfont aui-icon-left" ontouchend="closeWin()"></span>
        <div class="aui-title" id="header-title">星宿排行</div>
    </header>
    <div class="part1"><img id="title1" src="../../image/equity/starttitle1.png" /></div>
    <ul class="aui-list-view part2">
        <li class="aui-list-view-cell" id="content_d5">
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
        </li>
        
        <li class="aui-list-view-cell" id="content_d10">
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
        </li>
    </ul>
    <div class="part3"><img src="../../image/equity/starttitle2.png" /></div>
    <ul class="aui-list-view part4">
        <li class="aui-list-view-cell" id="content_s5">
            <div>
                <div>
                    <div class="vip1"></div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <div class="vip2"></div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <div class="vip3"></div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
        </li>
        <li class="aui-list-view-cell" id="content_s10">
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
            <div>
                <div>
                    <img src="../../image/equity/defaultuser.png" />
                    <span></span>
                </div>
                <p></p>
                <p></p>
            </div>
        </li>
    </ul>

    <script src="../../script/artTemplate.js"></script>
    <script type="text/html" id="d5">
        {{each D as m i}}
        <div>
            <div>
                {{if i==0}}
                <div class="vip1"></div>
                {{else if i==1}}
                <div class="vip2"></div>
                {{else if i==2}}
                <div class="vip3"></div>
                {{/if}}

                <img src="{{m.head}}" />

                {{if m.ihead}}
                {{else}}
                <span>{{m.xname}}</span>
                {{/if}}
            </div>
            <p>{{m.name}}</p>
            <p>{{m.money}}</p>
        </div>
        {{/each}}
    </script>
    <script type="text/html" id="d10">
        {{each D as m i}}
        <div>
            <div>

                <img src="{{m.head}}" />

                {{if m.ihead}}
                {{else}}
                <span>{{m.xname}}</span>
                {{/if}}
            </div>
            <p>{{m.name}}</p>
            <p>{{m.money}}</p>
        </div>
        {{/each}}
    </script>
    <script type="text/html" id="s5">
        {{each D as m i}}
        <div>
            <div>
                {{if i==0}}
                <div class="vip1"></div>
                {{else if i==1}}
                <div class="vip2"></div>
                {{else if i==2}}
                <div class="vip3"></div>
                {{/if}}

                <img src="{{m.head}}" />

                {{if m.ihead}}
                {{else}}
                <span>{{m.xname}}</span>
                {{/if}}
            </div>
            <p>{{m.name}}</p>
            <p>{{m.money}}</p>
        </div>
        {{/each}}
    </script>
    <script type="text/html" id="s10">
        {{each D as m i}}
        <div>
            <div>

                <img src="{{m.head}}" />

                {{if m.ihead}}
                {{else}}
                <span>{{m.xname}}</span>
                {{/if}}
            </div>
            <p>{{m.name}}</p>
            <p>{{m.money}}</p>
        </div>
        {{/each}}
    </script>
    <script src="../../script/base_qh.js"></script>
    <script>
    ;(function(window){
      var header=getElem("aui-header");
      window.onscroll=function(){
        var title=getElem("title1");
        if(getRect(title).top<=parseInt(45)){
           header.style.backgroundColor="#f34b4b";
        }
        else{
            header.style.backgroundColor="transparent";
        }
      };
      function getRect(elements){
         var rect = elements.getBoundingClientRect(),
             clientTop = document.documentElement.clientTop,
             clientLeft = document.documentElement.clientLeft;
         return {
                 top : rect.top - clientTop,
                 bottom : rect.bottom - clientTop,
                 left : rect.left - clientLeft, 
                 right : rect.right - clientLeft 
         };
      };
      
          var list=document.getElementsByClassName("aui-list-view-cell");
          for(var i=0;i<list.length;i++){
            var imagelist=list.item(i).getElementsByTagName("img");
            for(var j=0;j<imagelist.length;j++){
                imagelist[j].height=imagelist[j].clientWidth;
            }
          }
      
    })(window);
        apiready = function () {
            api.showProgress({
                style: 'default',
                animationType: 'fade',
                title: '加载中',
                text: '',
                modal: false
            });

            post(dburl.info.dividendsrank_dividends, { values: { pageIndex: 1, pageSize: 5 } }, function (d) {
                var html = template('d5', d);
                $('#content_d5').html(html);
            });

            post(dburl.info.dividendsrank_dividends, { values: { pageIndex: 2, pageSize: 5 } }, function (d) {
                var html = template('d10', d);
                $('#content_d10').html(html);
            })

            post(dburl.info.sharerank_logtrade, { values: { pageIndex: 1, pageSize: 5 } }, function (d) {
                var html = template('s5', d);
                $('#content_s5').html(html);
            })

            post(dburl.info.sharerank_logtrade, { values: { pageIndex: 2, pageSize: 5 } }, function (d) {
                var html = template('s10', d);
                $('#content_s10').html(html);
                api.hideProgress();
            })
        }
    </script>
</body>
</html>