body{
    font-size:1.2rem !important;background-color:#f6f6f6 !important;position:initial;
}
.am-btn{
    font-size:1.2rem !important;
}
a:hover {
    color:red !important;
    
}
[onclick]:hover {
    /*color: #808080;*/
}
[url] {
    transition:all ease 100ms;
}
/*[url]:hover {
    color:red !important;
}
[url]:hover div{
    background-position:center center;

}*/
/*�ײ�������*/
.am-navbar {
    border-top:0.1rem solid #c1c1c1;
}
.am-navbar-nav li {
    overflow:hidden;
}
    .am-navbar-nav  li  a {
        height:5.8rem ;line-height:2.6rem;overflow:hidden;
        color:#4b4b4b;
    }
.am-navbar-default .am-navbar-nav {
    background-color:#e9e9e9;
}
.am-navbar-active a{
    color:#e84c4c !important;
}
/*�ײ������� end*/

/*ͷ������*/
.lj-header {
    height:4.9rem;background-color:#e9e9e9;
    /*border-bottom:0.1rem solid #c1c1c1;*/
    margin:0;padding:0;
    
}
    .lj-header div[class*="am-u"] {
        margin:0;padding:0;
    }
    .lj-header .am-input-group {
        margin:0;padding:0;margin-top:0.3rem;
    }
    /*ͷ������ end*/
/*ͷ��ͼƬ���� */
.am-slides li {
    height:15rem !important;background-size:cover;background:no-repeat center center;
}
/*ͷ��ͼƬ���� end*/

/*panel ȫ�� */
.am-panel {
    margin-top:0.5rem;margin-bottom:0.5rem;
}
    .am-panel .am-panel-title {
        font-weight:bold;
    }
    .am-panel .shopping-index-list li {
        height:5rem;line-height:5rem;background:no-repeat left center; background-size:cover; 
    }
/*panel ȫ�� end*/
.no-pading-margin {
    padding:0;margin:0;
}

/*������ҳ �б�*/
.shopping-panel-list,.shopping-product-list, div[class*="shopping-product-"] {
    height:auto;min-height:10rem;line-height:10rem;
}

.shopping-product-list {
     margin:0;padding:0;margin-top:1rem;padding:0.3rem;overflow:hidden
}
/*ͼƬ*/
.shopping-product-img,[img] {
    background:no-repeat center center; background-size:cover !important; background-position:center center;
}
.shopping-product-img {
    height:12rem !important;
}
/*��ϸ*/
.shopping-product-info {
    background-color:rgba(0, 0, 0, 0.6);color:white;line-height:2rem !important;padding:0.5rem;
}
/*����*/
    .shopping-product-info .title {
        font-weight:bold;
        height:4rem;line-height:2rem;overflow:hidden;font-size:1.2rem;
    }
    .shopping-product-info .info, .btn {
        height:3rem;line-height:3rem;
    }
    /*�۸�*/
    .shopping-product-info .price {
        font-size:1.6rem; color:#e84c4c;font-weight:bold;
    }
/*������ҳ �б� end*/
    /***ҳ��ˮӡ****/
.footer {
    height: 5rem !important;
   
    background: no-repeat center center;
    background-image: url('/Content/images/logo.png');
    background-color:#f5f5f5; background-size: contain;
}
/*������ҳ��Ʒ���� �б� ��Ʒ/����/Ʒ��/�Ź� */
.lj-shoping-type {
    margin-top:1rem;
}
    .lj-shoping-type .am-panel-title {
        height:3rem;line-height:3rem;
    }
    .lj-shoping-type li {
        font-size:1.2rem;border-right:0.1rem solid #e9e9e9;
        text-align:center; font-weight:normal;line-height:1.8rem;
        margin-top:0.5rem;
    }
    .lj-shoping-type .am-panel-bd {
        height:15rem;
    }
    .lj-shoping-type .shopping-list {
        height:15rem;
    }
        .lj-shoping-type .shopping-list .img {
            height:10rem;background-position:center top;
        }
        .lj-shoping-type .shopping-list .info {
            height:5rem;line-height:2.5rem;
        }
/*��Ʒ����*/
.shopping-class-list li{
    height:5rem;line-height:5rem;
}            

/*********�˻�����*********/
.ac-header {
    height:12rem;border-bottom:0.1rem solid #f6f6f6;background-color:white;
}
    .ac-header .head {
        height:8.5rem;border-bottom:0.1rem solid #f6f6f6;overflow:hidden;
    }
.ac-header-info div{
    height:8.5rem;line-height:3.5rem;
}
.ac-header-info .am-icon-angle-right {
    color:#c1c1c1;
    font-size:2.5rem;
}
.ac-header .money {border-right:0.1rem solid #f6f6f6;
}
.ac-header .money, .card {
    line-height:3.5rem;height:3.5rem;font-size:1.6rem
}
.ac-header .name {
    font-size:1.8rem;margin-top:2.2rem;
    color:#4b4b4b;
}
    .ac-header .name strong, i {
        display: block;
        line-height: 2rem;color:#4b4b4b;
    }
    .ac-header .name i {
        color:#808080;font-size:1.4rem;
    }
.ac-list {
    margin:0;padding:0;margin-top:1rem;border-top:#ececec 0.1rem solid;background-color:white;
}
.ac-list li {
    height:5rem;line-height:5rem;border-bottom:#ececec 0.1rem solid;list-style:none;
    padding-left:1rem;padding-right:1rem;font-size:1.6rem;transition:all ease 100ms;
}
    .ac-list li:hover {
        background-color:#f6f6f6;color:red;
    }
    .ac-list li span {
        margin:0;padding:0;color:#808080
    }
    .ac-list .am-icon-angle-right {
    color:#c1c1c1;
    font-size:2.5rem;
}
    .ac-list .am-align-right {
        margin-left:0.5rem;
    }
    .ac-list .am-align-left {
   color:rgb(67, 67, 67); 
}
    .ac-list i {
        color:#f18a00;font-size:2rem;margin-right:0.8rem;
    }
    .ac-list-user i {
        color:#009ad4;
    }
    .ac-list 
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    input[type=tel],
    input[type=url]  {
        width:100%;height:4.5rem;border:0;background-color:transparent;
    }
.ac-list-boud i {
    color:red;
}

.am-header-nav i {
    color:white;
}

.am-header-default {
    background-color:#f06d34;
}
/***************��̨���� list �˵� start*********************/
.l-list li {
            height:5rem;
            line-height:5rem;
            list-style:none;
        }
        .l-list {
            background-color:#fff;
            border-top:1px solid #dedede;
            border-bottom:1px solid #dedede;
            height:auto;
            margin:0;padding:0;
            margin-top:1rem;
        }
        .l-list li div {
            border-bottom:1px solid #dedede;height:5rem;line-height:5rem;
        }
            .l-list li div:first-child {
                border:0;
            }
            /*ͼ���С*/
            .l-list li div:first-child span[class*="am-icon"]{
                font-size:1.6rem
            }
           .l-list li span[class*='am-align']{
            margin:0;padding:0;
        }
           .l-list li span[class*='am-icon']{
            margin:0;padding:0;color:#ccc ;
        }
            .l-list li div[class*="am-u"]:first-child span{
            color:#0094ff;
        }
            .l-list li:last-child div[class*="am-u"] {
                border:0;
            }
            /*����������ʽ*/
            .l-list div[class*="am-u"] span[class="am-align-right"] {
                color:#ccc; font-size:1rem;
            }
            .l-list li div[class*="am-g"] {
                padding:0;margin:0;
            }
            .l-list li div[class*="am-u"] {
                padding:0;margin:0;
            }
             .l-list li div[class*="am-u"]:last-child span {
                padding:0;margin:0;font-size:3rem;
            }
             /*����ͼ���С*/
                .l-list li div[class*="am-u"]:last-child {
                    line-height:4.5rem;
                }
            .l-list li:hover{
                background-color:#dedede;
            }
             
           
            .l-list li input[type="button"], input[type="submit"] {
                min-height:100%;max-height:100%;font-size:1.4rem !important;
            }
            .l-list
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email], 
            
    input[type=tel] {
        width:100% ;height:4.5rem;border:0;background-color:transparent;outline:none !important;
    }
            .l-list textarea {
                width:100% !important;line-height:1.4rem !important;min-height:4.5rem;border:0;background-color:transparent;
            }

/***************��̨���� list �˵� end*********************/
/***************ͨ��ҳ�沼�� start*********************/
.page {
   min-height:100%;
  max-height:100%;
    margin:0;padding:0;
    width:100%;
    position:absolute;
  left:0px;
  top:0px;
}
    /*���ú���ģ��*/
.box {
    display:flexbox;
    display:-webkit-box;
    display:-ms-flexbox;
}
.box-v {
     -moz-box-orient:vertical;
     -webkit-box-orient:vertical; box-origin:vertical;
}
.box-h {
      -moz-box-orient:horizontal;-webkit-box-orient:horizontal;box-origin:horizontal;
}
/***����ģ�ͱ���***/
.uf1 {
     -ms-flex:1;
   -webkit-box-flex:1;
}
.uf2 {
     -ms-flex:2;
   -webkit-box-flex:2;
}
.uf3 {
     -ms-flex:3;
   -webkit-box-flex:3;
}
.uf4 {
     -ms-flex:4;
   -webkit-box-flex:4;
}
.uf5 {
     -ms-flex:5;
   -webkit-box-flex:5;
}
.uf6 {
     -ms-flex:6;
   -webkit-box-flex:6;
}
.uf7 {
     -ms-flex:7;
   -webkit-box-flex:7;
}
.uf8 {
     -ms-flex:8;
   -webkit-box-flex:8;
}
.uf9 {
     -ms-flex:9;
   -webkit-box-flex:9;
}
/*����Բ��*/
br1 {
    border-radius:1px;
}
br2 {
    border-radius:2px;
}
br3 {
    border-radius:3px;
}
br4 {
    border-radius:4px;
}
br5 {
    border-radius:5px;
}
br6 {
    border-radius:6px;
}
br7 {
    border-radius:7px;
}
br8 {
    border-radius:8px;
}
.of-h {
    overflow:hidden;
}
.of-a {
    overflow:auto;
}
.of-x-s {
    overflow:hidden;overflow-x:scroll;
}
.of-y-s {
   overflow:hidden;overflow-y:scroll;
}
::-webkit-scrollbar {
    width:0;height:0;
}
/***************ͨ��ҳ�沼�� end*********************/

/***************�ȷֲ˵����� *********************/
        .l-memu-panel {
            height: auto;
            background-color: white;
             
        }

            .l-memu-panel li {
                min-height: 10rem;
                border-right: 1px solid rgba(204, 204, 204, 0.3);
                border-bottom: 1px solid rgba(204, 204, 204, 0.3);
            }

                .l-memu-panel li:hover {
                    background-color: rgba(204, 204, 204, 0.3);
                }

                .l-memu-panel li span[class*="am-icon"] {
                    font-size: 2.3rem;
                    color: #ff6a00;margin-top:15%;
                }

                .l-memu-panel li .title {
                    color: #808080;font-size:1.2rem;
                }

                .footer {
            background-color: #fff;min-height:5rem;border-top:rgba(204, 204, 204, 0.5) solid 1px;
        }

/***************�ײ����������� *********************/
            .footer .am-text-center .text {
                font-size: 1rem !important;
            }
            .footer [class*="am-icon"] {
                font-size: 2rem;
            }
            .footer .am-text-center {
                width: 8rem;
                color: #808080;
                font-size: 1rem !important;
            }
                .footer .am-text-center:last-child {
                }
                .footer .am-text-center:hover {
                    
                    color: #E33E3E;
                }
                    .footer .active {
                        color: #E33E3E;
                    }
.ol-error {
    height:auto;margin-top:1rem;margin-bottom:1rem;background-color:white;
}
    .ol-error li {
        line-height:1.4rem; color:red;text-align:center;
    }
.validation-summary-errors {
    background-color:#ff6a00;
    line-height:2rem;
}
    .validation-summary-errors ul {
        height:auto;
    }
        .validation-summary-errors ul li {
            color:white;list-style-type:none;
        }
.am-form input {
                  border:0px !important;
              }
    .img-upload {
        background-color:white;margin-top:1rem;border-top:1px solid #dedede;border-bottom:1px solid #dedede;
    }
    .img-upload li {
        padding: 0.5rem;
        height: 6rem;
    }

        .img-upload li div {
            height: 5rem;
            width: 100%;
            border: 1px solid #efefef;
            line-height: 5rem;
            text-align: center;
            color: #efefef;
            background: no-repeat center center;
            background-size: cover;
        }
            .img-upload li div img {
                max-height:85%;
                max-width:90%;
            }


.am-selected-list li{
    background-color:white !important;line-height:1.8rem !important;height:auto !important
}
.am-selected-hint {
    height:auto !important;
}
.am-dropdown {
    border:none !important;
}

 .h {
            min-height: 4rem;
            line-height: 4rem;
            background-color: #ff6a00;
            border-bottom: 1px solid #ccc;
            color: white;
            overflow: hidden;
            display: none;
        }

            .h div {
                min-height: 4rem;
                line-height: 4rem;
            }

            .h span[class*="am-icon"] {
                font-size: 1.8rem;
                font-weight: bold;
            }



 .am-panel-footer {
            background-color: rgba(217, 217, 217, 0.05);
        }

        main {
            font-size: 1.4rem;
            color: #808080;
        }

        footer .uf1 {
            font-size: 1.6rem;
        }

        section:hover {
            background-color: rgba(242, 242, 242, 0.2);
        }

        .header .text {
            font-size: 1rem;
        }
        .am-nav a:hover {
            font-size:1.2rem;
        }
      
.am-nav .am-nav-en {
    margin-left: 5px;
    color: #aaa;
    font-size: 10px !important;
    vertical-align: bottom;
}
.am-nav > li.am-nav-header {
    border-left: 3px solid #3bb4f2;
    padding: 0 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
    input[type=text]:focus {
        border:1px solid #ccc !important;background-color:white;
    }
    .am-panel {
        margin:0;padding:0;border-left:0;border-right:0;
        margin-top:1rem;
    }
     .tt {
            min-height:4rem;line-height:4rem;background-color:#ff6a00;border-bottom:1px solid #ccc;
            color:white;overflow:hidden;
        }
            .tt div {
                min-height:4rem;line-height:4rem;/*margin-top:15px;*/
            }
            .tt span[class*="am-icon"] {
                font-size:1.8rem;font-weight:bold;
            }
    .l-memu-panel {
        margin-top:0.5rem;border-top:solid .1rem rgba(204, 204, 204, 0.3);
    }
    .am-badge-default {
        background-color:#ccc
    }
   .am-text-danger{ color:red;}
   .icon-gu{ color:white; background-color:#e74c3c; padding:2px;}